@model engie_dashboard.Models.Solicitacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Solicitacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TipoSolicitacao" class="control-label"></label>
                <input asp-for="TipoSolicitacao" class="form-control" />
                <span asp-validation-for="TipoSolicitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usina" class="control-label"></label>
                <input asp-for="Usina" class="form-control" />
                <span asp-validation-for="Usina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UG" class="control-label"></label>
                <input asp-for="UG" class="form-control" />
                <span asp-validation-for="UG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeMedida" class="control-label"></label>
                <input asp-for="UnidadeMedida" class="form-control" />
                <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitanteId" class="control-label"></label>
                <input asp-for="SolicitanteId" class="form-control" />
                <span asp-validation-for="SolicitanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperadorId" class="control-label"></label>
                <input asp-for="OperadorId" class="form-control" />
                <span asp-validation-for="OperadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncaminhadoId" class="control-label"></label>
                <input asp-for="EncaminhadoId" class="form-control" />
                <span asp-validation-for="EncaminhadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusSolicitacao" class="control-label"></label>
                <select asp-for="StatusSolicitacao" class="form-control"></select>
                <span asp-validation-for="StatusSolicitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoOperacional" class="control-label"></label>
                <select asp-for="EstadoOperacional" class="form-control"></select>
                <span asp-validation-for="EstadoOperacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
